h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style: oblique;
    background-color:black;
    color: beige;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    border-radius: 60px;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style: oblique;
    background-color:black;
    color: beige;
    padding: 10px;
    margin-top: 25px;
    border: solid rebeccapurple;
    border-radius: 30px; 
}
#logos{
    text-align: center; 
    background-color: black; 
    border-radius: 50px;

}
a{
    padding: 30px;
    margin-left:25px;
    margin-right: 25px;
}
#car{
    background-color: whitesmoke;
    border: solid black;
    border-width: 30px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;   
    border-radius: 100px;
}
body{
    background-color: darkgray;
    border: solid;
    border-width: 10px;
    border-radius: 50px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid;
    padding: 10px;
    border-radius: 50px;
    
    
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid;
    padding: 15px;
    border-radius: 50px;
    background-color: azure;
}
